/* TODO Add site wide styles */



#root {
    display: flex;
    flex-direction: column;
    height: 100%
}

#footer {
    border: 1px solid black;
    position: fixed;
    /* margin-bottom: 0px; */
    bottom: 0px;
    width: 100%;
    text-align: center;

}

#test {
    height: 15000x;
    border: 1px solid red;
}
