/* TODO Add site wide styles */



#root {
    display: flex;
    flex-direction: column;
    height: 100%
}

#footer {
    border: 1px solid black;
    position: fixed;
    /* margin-bottom: 0px; */
    bottom: 0px;
    width: 100%;
    text-align: center;

}

#test1 {
    margin-top: 80px
}

#test2 {
    height: 15000px;
    border: 1px solid red;
}

.modal-content {
    position: absolute;
    background-color: white;
    z-index: 10
}
