#nav-bar {
    border-bottom: 1px solid lightgrey;
    /* box-shadow: 0 0 48px grey; */
    background: white;
    position: fixed;
    height: 80px;
    top: 0px;
    width: 100%;
    min-width: 800px;
    display: flex;
    margin: 0px;
    left: 0px;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

#home-logo {
    max-height: 36px;
}

#host-spot {
    width: 148px;
    height: 42px;
    border-radius: 21px;
    border: transparent;
    background-color: white;
    font-size: 14px;
    color: grey;
    margin-right: 10px;
    cursor: pointer;
    padding: 0 10px;
}
#host-spot:hover {
    background-color: #f1f1f1;
}

#login-signup {
    display: flex;
    background-color: white;
    align-items: center;
    margin-right: 100px
}

#home {
    margin-left: 100px
}


#search-bar {
    min-width: 400px;
    text-align: center;
}
